
<div class = "conteiner-about animated fadeIn fast">

<h1 > ¿Qué es un Comic?</h1>

<hr>

<p class="animated fadeIn">
   Una historieta o cómic es una sucesión de dibujos que constituye un relato, con texto o sin texto así como la serie de ellas que trate de la misma historia o del mismo concepto, y también el correspondiente medio de comunicación en su conjunto.

   Partiendo de la concepción de Will Eisner de esta narrativa gráfica como un arte secuencial, Scott McCloud llega a la siguiente definición: «Ilustraciones yuxtapuestas y otras imágenes en secuencia deliberada con el propósito de transmitir información u obtener una respuesta estética del lector». Sin embargo, no todos los teóricos están de acuerdo con esta definición, la más popular en la actualidad, dado que permite la inclusión de la fotonovela y, en cambio, ignora el denominado humor gráfico.
   
   El interés por la historieta «puede tener muy variadas motivaciones, desde el interés estético al sociológico, de la nostalgia al oportunismo».6​ Durante buena parte de su historia fue considerado incluso un subproducto cultural,7​ apenas digno de otro análisis que no fuera el sociológico, hasta que en la década de 1960 se asiste a su reivindicación artística, de tal forma que Morris y luego Francis Lacassin han propuesto considerarlo como el noveno arte, aunque en realidad sea anterior a aquellas disciplinas a las que habitualmente se les atribuyen las condiciones de octavo (fotografía, de 1825) y séptimo (cine, de 1886). Seguramente, sean este último medio y la literatura los que más la hayan influido, pero no hay que olvidar tampoco que «su particular estética ha salido de las viñetas para alcanzar a la publicidad, el diseño, la moda y, no digamos, el cine».10​
   
   Las historietas suelen realizarse sobre papel o en forma digital (e-cómic, webcómics y similares), pudiendo constituir una simple tira en la prensa, una página completa, una revista o un libro (álbum, novela gráfica o tankōbon). Han sido cultivadas en casi todos los países y abordan multitud de géneros. Al profesional o aficionado que las guioniza, dibuja, rotula o colorea se le conoce como historietista.
</p>

</div>