

<h1 class="conteiner-heroes animated fadeIn fast"> Heroes <small>Marvel y DC</small></h1>

<hr>
<div class="card-group  conteiner-heroes animated fadeIn fast ">
    <div class="card">
      <img src="assets/img/hulk.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hulk</h5>
        <p class="card-text">Robert Bruce Banner (hulk) era un científico que trabajaba en una bomba de radiación Gamma para el ejercito estadounidense. ... Cuando Bruce se enojaba, éste se transformaba en una criatura de color verde (a veces gris) con poderes increíbles que aumentaban su capacidad fisica al que le apodaron Hulk.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

        <button type="button" class="btn btn-outline-dark w-100">Ver más...</button>
      </div>
    </div>

    <div class="card">
      <img src="assets/img/linterna-verde.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Linterna Verde</h5>
        <p class="card-text">Linterna Verde (Green Lantern) es el nombre que reciben los miembros del Green Lantern Corps, un cuerpo de policía intergaláctico. Todos los Linterna Verde se caracterizan por tener un anillo de poder y una linterna para recargarlo. Este anillo es una de las armas más poderosas del Universo DC y permite a su portador, crear todo lo que pueda imaginar.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="button" class="btn btn-outline-dark w-100">Ver más...</button>
      </div>
    </div>

    <div class="card">
      <img src="assets/img/spiderman.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Spiderman</h5>
        <p class="card-text">En las historias, Spider-Man es el alias de Peter Parker, un huérfano criado por su tía May y su tío Ben en la Ciudad de Nueva York después de que sus padres Richard y Mary Parker murieron en un accidente aéreo. ... Miles luego es llevado a la continuidad de la corriente principal, donde trabaja junto a Peter.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="button" class="btn btn-outline-dark w-100">Ver más...</button>
      </div>
    </div>


  </div>


  <div class="card-group conteiner-heroes">
    <div class="card">
      <img src="assets/img/aquaman.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Acuaman</h5>
        <p class="card-text">El Aquaman de la Edad Moderna nace con el nombre de Orin, como hijo de la reina Atlanna y del misterioso hechicero Atlán en la ciudad atlante de Poseidón. ... La única persona que intervino en nombre de Orin fue el Dr. Vulko, un científico que no tenía tolerancia hacia los mitos y las supersticiones.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="button" class="btn btn-outline-dark w-100">Ver más...</button>
      </div>
    </div>

    <div class="card">
      <img src="assets/img/batman.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Batman</h5>
        <p class="card-text">Batman es la identidad secreta de Bruce Wayne, un empresario multimillonario, galán y filántropo. Presenció el asesinato de sus padres cuando era niño lo marcó profundamente y lo llevó a entrenarse en la perfección física e intelectual para ponerse un disfraz de murciélago con el fin de combatir el crimen.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="button" class="btn btn-outline-dark w-100">Ver más...</button>
      </div>
    </div>

    <div class="card">
      <img src="assets/img/daredevil.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Daredevil</h5>
        <p class="card-text">Cuando era niño, Matt Murdock perdió la vista y ganó sentidos sobrehumanos en un accidente que le enseñó a vivir sin miedo. ... Luego pasó a estudiar derecho, lo que lo llevó a una vida de lucha contra el crimen en Nueva York; como abogado y como vigilante Daredevil.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="button" class="btn btn-outline-dark w-100 ">Ver más...</button>
      </div>
    </div>
  </div>
